.home-header {
  text-align: center;
  background-color: #f0f0f0;
  padding: 0;
}

.home-content {
  color: #fff;
  overflow: auto;
  height: 100%;
}

.home-footer {
  text-align: center;
  color: #fff;
  background-color: #1890ff;
}