.app-header {
  text-align: center;
  height: 40px;
  background-color: #f0f0f0;
  padding: 0 10px;
}

.app-content {
  text-align: center;
  min-height: 120;
  line-height: 120px;
  color: #fff;
  background-color: antiquewhite;
}

.app-footer {
  text-align: center;
  color: #fff;
  background-color: #1890ff;
}