.form-item {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.form-label {
  text-align: right;
  margin-right: 12px;
  flex-shrink: 0;
}

.inner-card {
  .ant-card-body {
    padding: 10px;

    .inner-wrapper {
      column-count: 2;
      padding: 16px 0 0 0;

      .form-item {
        margin: 0 0 16px 0;
      }
    }
  }
  .ant-card-head {
    min-height: 40px;
  }
}

.ant-collapse-header {
  align-items: center !important;
}

.ant-collapse-header-text {
  font-weight: bold;
}
